<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.thirtybees.test.HomeTest"/>
       <class name="com.thirtybees.test.CreateAccountTest"/>
        <class name="com.thirtybees.test.AuthenticationTest"/>
        <class name="com.thirtybees.test.CoffeeAndTeaTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
